@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&family=Noto+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
}

.logo {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  padding-top: 28.5px;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  float: right;
  padding-top: 26.5px;
}

nav a {
  color: #000;
  font-size: 17px;
  text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    margin-bottom: 100px;
}

#hero {
    margin-top: 90px;
}
  
.hero_subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 90px;
}
  
.hero_title {
    font-size: 100px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}
  
.hero_text {
    font-size: 17px;
    line-height: 1.6;
}
  
.hero_image {
    float: right;
    margin-right: 35px;
}

#logo_bar {
  margin-top: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skills_section {
  margin-top: 199px;
}
.skill{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill h3 {
  margin-top: 64px;
  text-align: center;
}

.skill p {
  font-size: 18px;
  margin-top: 22px;
  text-align: center;
}

#gallery_section .text-center {
  margin-top: 158px;
  margin-bottom: 55px;
}

.row h5{
  margin-top: 31px;
}

#clients h2{
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}
.box .texto{
  padding-left: 64px;
  
}
.box p.textos{
  margin-bottom: 120px;
  font-weight: 600;
}


@media (min-width: 360px) and (max-width: 932px) {
  .logo {
    font-size: 18px;
    text-align: center;
  }

  nav ul {
    float: none;
    justify-content: space-around;
    padding-left: none;
    padding-top: 13.5px;
  }

  nav a {
    font-size: 15px;
  }

  #hero {
    margin-top: 12px;
    text-align: center;
  }

  .hero_subtitle {
    font-size: 20px;
    margin-top: 35px;
  }
  
  .hero_title {
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 8%;
  }

  .hero_text {
    font-size: 18px;
    line-height: 150%;
  }

  .hero_image {
    float: none;
    width: 100%;
  }


  #logo_bar {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 37px;
    padding-left: 25%;
  }

}

#skills_section {
  margin-top: 85px;
}

.skill h3 {
  margin-top: 25px;
  text-align: center;
}

.skill p {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 15%;
}

#gallery_section .text-center{
  align-items: center;
  margin-top: 45px;
}

.row h5{
  margin-top: 20px;
}

.col-md-4 p{
  margin-bottom: 20%;
}
